{% extends 'BaseBaseBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <form class="form-horizontal" role="form" method="post">

            {% include 'SuperSolicitacaoBundle:Default:dados-pessoa.html.twig' %}

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Oi Fixo
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Portabilidade</label>

                                <div class="col-lg-10">
                                    {{ formRadio({name: '[oifixo][stPortabilidade]'}, '', {class: 'form-control'}, arrSimNao) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Número portado</label>

                                <div class="col-lg-10">
                                    {{ formText({name: '[oifixo][nuNumeroPortado]'}, '', {class: 'form-control', placeholder: '(99) 9999-9999'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Produto</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: '[oifixo][tpProduto]'}, '', {class: 'form-control m-bot15'}, arrProduto) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Operadora
                                    origem</label>

                                <div class="col-lg-10">
                                    {{ formText({name: '[oifixo][nuNumeroPortado]'}, '', {class: 'form-control'}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                Planos
                                            </div>
                                            <div class="panel-body">
                                                {% for plano in arrPlano %}
                                                    <div class="col-md-4 form-group">
                                                        <label class="checkbox-inline">
                                                            {{ formCheckbox({name: '[oifixo][idPlano][]'}, plano.idPlano, {class: 'form-control'}) }}
                                                        </label>

                                                        {{ plano.noPlano }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                Instalação
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                                                        data
                                                        de instalação</label>

                                                    <div class="col-lg-10">
                                                        {{ formText({name: '[oifixo][dtInstalacao]'}, '', {class: 'form-control', placeholder: '99/99/9999'}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                                                        horário para
                                                        instalação</label>

                                                    <div class="col-lg-10">
                                                        {{ formSelect({name: '[oifixo][dtInstalacao]'}, '', {class: 'form-control'}, arrPeriodo) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Contatos
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">

                                <div class="col-lg-10">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-save"></span> Salvar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

        </form>
    </div>

    <script>
    </script>
{% endblock %}