{% extends 'BaseBaseBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <form class="form-horizontal" role="form" method="post">

            {% include 'SuperSolicitacaoBundle:Default:dados-pessoa.html.twig' %}

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Oi Fixo
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Portabilidade</label>

                                <div class="col-lg-10">
                                    {{ formRadio({name: 'solicitacao[stPortabilidade]'}, idSolicitacao.getStPortabilidade(), {class: 'form-control'}, arrSimNao) }}
                                    {{ formHidden({name: 'solicitacao[idTipoSolicitacao]'}, idSolicitacao.getIdTipoSolicitacao().getIdTipoSolicitacao()) }}
                                    {{ formHidden({name: 'solicitacao[noSolicitacao]'}, idSolicitacao.getNoSolicitacao(), {class: 'form-control'}, 'Solicitação de linha telefônica') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Número portado</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'solicitacao[nuNumeroPortado]'}, idSolicitacao.getNuNumeroPortado(), {class: 'form-control', placeholder: '(99) 9999-9999', 'data-mask': '(99) 9999-9999'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Produto</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'solicitacao[tpProduto]'}, idSolicitacao.getTpProduto(), {class: 'form-control m-bot15'}, arrProduto) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Operadora
                                    origem</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'solicitacao[noOperadoraOrigem]'}, idSolicitacao.getNoOperadoraOrigem(), {class: 'form-control'}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                Planos
                                            </div>
                                            <div class="panel-body">
                                                {% for plano in arrPlano %}
                                                    <div class="col-md-4 form-group">
                                                        <label class="checkbox-inline">
                                                            {{ formCheckbox({name: 'solicitacao[idPlano][]'}, plano.idPlano, {class: 'form-control'}) }}
                                                        </label>

                                                        {{ plano.noPlano }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                Instalação
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                                                        data
                                                        de instalação</label>

                                                    <div class="col-lg-10">
                                                        {{ formText({name: 'solicitacao[dtInstalacao]'}, '', {class: 'form-control', placeholder: '99/99/9999'}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                                                        horário para
                                                        instalação</label>

                                                    <div class="col-lg-10">
                                                        {{ formSelect({name: 'solicitacao[dtInstalacao]'}, '', {class: 'form-control'}, arrPeriodo) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Banda Larga
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Terminal fixo para instalação</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'solicitacao[tpTerminalFixoInstalacao]'}, idSolicitacao.getTpTerminalFixoInstalacao(), {class: 'form-control'}, arrTpTerminal) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nº</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'solicitacao[nuTerminalFixoExistente]'}, idSolicitacao.getNuTerminalFixoExistente(), {class: 'form-control'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Velocidade</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'solicitacao[tpVelocidade]'}, idSolicitacao.getIdVelocidade().getIdVelocidade(), {class: 'form-control'}, arrVelocidade) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-heading">
                        Ações
                    </div>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Local</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'ordem[dSlocal]'}, idOrdemServico.getDsLocal(), {class: 'form-control'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">OS assianda pelo cliente</label>

                                <div class="col-lg-10">
                                    {{ formRadio({name: 'ordem[stOsAssinada]'}, idOrdemServico.getStOsAssinada(), {class: 'form-control'}, arrSimNao) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Data da venda</label>

                                <div class="col-lg-10">
                                    <div class="input-group m-bot15">
                                        {{ formText({name: 'ordem[dtNascimento]'}, idOrdemServico.getDtCadastro().format('d/m/Y'), {
                                            class: 'form-control date-picker',
                                            placeholder: '99/99/9999',
                                            'data-mask': '99/99/9999',
                                            'data-date-format': 'dd/mm/yyyy'
                                        }) }}
                                        <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">

                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-save"></span> Salvar
                                    </button>
                                    <a href="{{ path('super_solicitacao_oi_fixo') }}" class="btn btn-default"><span
                                                class="fa fa-times"></span> Cancelar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

        </form>
    </div>

    <script>
    </script>
{% endblock %}