<ul class="sidebar-menu" id="nav-accordion">
    {% if not is_granted('ROLE_VENDEDOR') %}
        <li>
            <a href="{{ path('super_home') }}">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_GERENTE') %}
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-user"></i>
                <span>Usuário</span>
            </a>
            <ul class="sub">
                <li><a href="{{ path('super_usuario') }}">Gerenciar Usuário</a></li>
                <li><a href="{{ path('super_supervisor_vendedor') }}">Gerenciar Supervisor</a></li>
                <li><a href="{{ path('super_perfil') }}">Manter Perfil</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('super_ordem_servico_historico') }}">
                <i class="fa fa-sort-amount-asc"></i>
                <span>Histórico</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_VENDEDOR') or is_granted('ROLE_AUDITOR') %}
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o"></i>
                <span>Ordem de serviço</span>
            </a>
            <ul class="sub">
                <li><a href="{{ path('super_ordem_servico_oi_fixo') }}">Oi Fixo</a></li>
                <li><a href="{{ path('super_ordem_servico_oi_tv') }}">Oi Tv</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_VENDEDOR') %}
        <li>
            <a href="{{ path('super_ordem_servico_fila_vendedor') }}">
                <i class="fa fa-list"></i>
                <span>Fila de atendimento</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_IMPUTADOR') %}
        <li>
            <a href="{{ path('super_ordem_servico_fila_inputador') }}">
                <i class="fa fa-list"></i>
                <span>Fila de atendimento</span>
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_AUDITOR') %}
        <li>
            <a href="{{ path('super_ordem_servico_fila_auditor') }}">
                <i class="fa fa-list"></i>
                <span>Fila de atendimento</span>
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ACOMPANHADOR') %}
        <li>
            <a href="{{ path('super_ordem_servico_fila_acompanhador') }}">
                <i class="fa fa-list"></i>
                <span>Fila de atendimento</span>
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_GERENTE') %}
        <li>
            <a href="{{ path('super_ordem_servico_fila_gerente') }}">
                <i class="fa fa-list"></i>
                <span>Fila de atendimento</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-user"></i>
                <span>Comissionamento</span>
            </a>
            <ul class="sub">
                <li><a href="{{ path('super_ordem_servico_comissionamento') }}">Comissionar</a></li>
                <li><a href="{{ path('super_ordem_servico_configurar_comissao') }}">Configurar Comissão</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_TELEOPERADOR') %}
        <li>
            <a href="{{ path('super_ordem_servico_historico') }}">
                <i class="fa fa-sort-amount-asc"></i>
                <span>Histórico</span>
            </a>
        </li>
    {% endif %}

</ul>