{% extends 'BaseBaseBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <form class="form-horizontal" role="form" method="post">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Buscar CPF
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">CPF</label>

                                <div class="col-lg-10">
                                    <div class="input-group m-bot15">
                                        {{ formText({name: 'pessoa[nuCpf]'}, '', {class: 'form-control required cpf', placeholder: '999.999.999-99', 'data-mask': '999.999.999-99'}) }}
                                        {{ formHidden({name: 'pessoa[idPessoa]'}, '', {class: 'form-control'}) }}
                                        <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-search"></span>
                                        </span>
                                    </div>

                                    <div class="alert alert-success fade in hide" id="div-cpf">
                                        <button data-dismiss="alert" class="close close-sm checkOut" type="button">
                                            <i class="fa fa-mail-forward"></i>
                                        </button>
                                        <a href="#" class="checkOut">
                                            <strong id="nome"></strong> <span id="cpf"></span>
                                        </a>
                                    </div>
                                    <div class="alert alert-danger fade in hide" id="div-cpf-error">
                                        <a href="#" class="checkOut">
                                            <strong>CPF não encontrado</strong><span>, cadastrar?</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>

    <script>
        $(function () {
            $('#pessoa-nuCpf').click(function () {
                $('#div-cpf, #div-cpf-error').addClass('hide')
            });

            $('#buscar').click(function () {
                if ($('#pessoa-nuCpf').val().length == 14 && $('form').valid()) {
                    $.get('{{ path('super_ordem_servico_check_cpf', {buscar: 'true'}) }}', {nuCpf: $('#pessoa-nuCpf').val()}, function (data) {
                        if (data.idPessoa) {
                            $('#div-cpf').removeClass('hide')
                            $('#nome').html(data.noPessoa)
                            $('#cpf').html($('#pessoa-nuCpf').val())
                            $('#pessoa-idPessoa').val(data.idPessoa)
                        } else {
                            $('#div-cpf').addClass('hide')
                            $('#pessoa-idPessoa').val('')
                            $('#nome, #cpf').html('')
                            $('#div-cpf-error').removeClass('hide')
                        }
                    });
                }
            })

            $('#pessoa-nuCpf').blur(function () {
                $('#buscar').click()
            });

            $('.checkOut').click(function () {
                {% if app.request.get('_route') == 'super_ordem_servico_oi_fixo' %}
                window.location = '{{ path('super_ordem_servico_oi_fixo_create') }}?id=' + $('#pessoa-idPessoa').val() + '&cpf=' + $('#pessoa-nuCpf').val()
                {% elseif app.request.get('_route') == 'super_ordem_servico_oi_tv' %}
                window.location = '{{ path('super_ordem_servico_oi_tv_create') }}?id=' + $('#pessoa-idPessoa').val() + '&cpf=' + $('#pessoa-nuCpf').val()
                {% endif %}
            });
        });
    </script>
{% endblock %}