{% extends 'BaseBaseBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <form class="form-horizontal" role="form" method="post">

            {% include 'SuperOrdemServicoBundle:Default:dados-pessoa.html.twig' %}

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Oi Fixo
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Portabilidade?</label>

                                <div class="col-lg-10">
                                    {{ formCheckbox({name: 'ordem[stPortabilidade]'}, idOrdemServico.getStPortabilidade(), {class: 'form-control'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Número portado</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'ordem[nuNumeroPortado]'}, idOrdemServico.getNuNumeroPortado(), {class: 'form-control', placeholder: '(99) 9999-9999', 'data-mask': '(99) 9999-9999'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Operadora
                                    origem</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'ordem[noOperadoraOrigem]'}, idOrdemServico.getNoOperadoraOrigem(), {class: 'form-control'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Produto</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'ordem[tpProduto]'}, idOrdemServico.getTpProduto(), {class: 'form-control m-bot15'}, arrProduto) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                Planos
                                            </div>
                                            <div class="panel-body">
                                                {% for plano in arrPlano %}
                                                    <div class="col-md-4 form-group">
                                                        <label class="checkbox-inline">
                                                            {{ formCheckbox({name: 'ordem[idPlano][]'}, plano.idPlano, {class: 'form-control'}) }}
                                                        </label>

                                                        {{ plano.noPlano }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Oi Banda Larga
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Terminal fixo para
                                    instalação</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'ordem[tpTerminalFixoInstalacao]'}, idOrdemServico.getTpTerminalFixoInstalacao(), {class: 'form-control'}, arrTpTerminal) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nº</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'ordem[nuTerminalFixoExistente]'}, idOrdemServico.getNuTerminalFixoExistente(), {class: 'form-control'}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Velocidade</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'ordem[idVelocidade]'}, idOrdemServico.getIdVelocidade().getIdVelocidade(), {class: 'form-control'}, arrVelocidade) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-heading">
                        Instalação / Habilitação
                    </div>
                    <div class="panel-body">
                        <div class="position-center">

                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                                    data
                                    de instalação</label>

                                <div class="col-lg-10">
                                    <div class="input-group m-bot15">
                                        {{ formText({name: 'ordem[dtInstalacao]'}, '', {
                                            class: 'form-control date-picker',
                                            placeholder: '99/99/9999',
                                            'data-mask': '99/99/9999',
                                            'data-date-format': 'dd/mm/yyyy'
                                        }) }}
                                        <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                                    horário para
                                    instalação</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'ordem[dtInstalacao]'}, '', {class: 'form-control'}, arrPeriodo) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Taxa de
                                    habilitação</label>

                                <div class="col-lg-10">
                                    {{ formSelect({name: 'ordem[stTaxaHabilitacao]'}, idOrdemServico.getStTaxaHabilitacao(), {class: 'form-control'}, arrTaxaHabilitacao) }}
                                </div>
                            </div>
                            <div id="parcela" class="hide">
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Quantidade de
                                        parcelas</label>

                                    <div class="col-lg-10">
                                        {{ formText({name: 'ordem[nuQuantidadeParcela]'}, idOrdemServico.getNuQuantidadeParcela(), {class: 'form-control'}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Valor
                                        parcela</label>

                                    <div class="col-lg-10">
                                        {{ formText({name: 'ordem[nuValorParcela]'}, idOrdemServico.getNuValorParcela(), {class: 'form-control'}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">DACC?</label>

                                <div class="col-lg-10">
                                    {{ formCheckbox({name: 'ordem[tpDacc]'}, idOrdemServico.getTpDacc(), {class: 'form-control'}) }}
                                </div>
                            </div>
                            <div id="banco" class="hide">
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Banco</label>

                                    <div class="col-lg-10">
                                        {{ formText({name: 'ordem[noBanco]'}, idOrdemServico.getNoBanco(), {class: 'form-control'}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Agência</label>

                                    <div class="col-lg-10">
                                        {{ formText({name: 'ordem[nuAgencia]'}, idOrdemServico.getNuAgencia(), {class: 'form-control'}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Conta</label>

                                    <div class="col-lg-10">
                                        {{ formText({name: 'ordem[nuConta]'}, idOrdemServico.getNuConta(), {class: 'form-control'}) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-heading">
                        Dados Oi
                    </div>
                    <div class="panel-body">
                        <div class="position-center">

                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Local</label>

                                <div class="col-lg-10">
                                    {{ formText({name: 'ordem[dSlocal]'}, idOrdemServico.getDsLocal(), {class: 'form-control'}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Data da venda</label>

                                <div class="col-lg-10">
                                    <div class="input-group m-bot15">
                                        {{ formText({name: 'ordem[dtNascimento]'}, idOrdemServico.getDtCadastro().format('d/m/Y'), {
                                            class: 'form-control date-picker',
                                            placeholder: '99/99/9999',
                                            'data-mask': '99/99/9999',
                                            'data-date-format': 'dd/mm/yyyy'
                                        }) }}
                                        <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">

                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-save"></span> Salvar
                                    </button>
                                    <a href="{{ path('super_ordem_servico_oi_fixo') }}" class="btn btn-default"><span
                                                class="fa fa-times"></span> Cancelar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('#ordem-tpDacc').on('ifChecked', function (event) {
                $('#banco').removeClass('hide')
            }).on('ifUnchecked', function (event) {
                $('#banco').addClass('hide');
            });

            $('#ordem-stTaxaHabilitacao').change(function(){
                if($(this).val() == 1){
                    $('#parcela').addClass('hide');
                }

                if($(this).val() == 2){
                    $('#parcela').removeClass('hide');
                }
            })
        });
    </script>
{% endblock %}