<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Dados Básicos
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
        </header>
        <div class="panel-body">
            <div class="position-center">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nome</label>

                    <div class="col-lg-10">
                        {% if entityPessoa %}
                            {{ entity.setIdPessoa(entityPessoa) }}
                        {% endif %}

                        {{ formText('noPessoa', entity.getIdPessoa().getNoPessoa(), {class: 'form-control required', placeholder: 'Nome completo'}) }}
                        {{ formHidden('idPessoa', entity.getIdPessoa().getIdPessoa()) }}
                        {{ formHidden('idOrdemServico', entity.getIdOrdemServico()) }}
                    </div>
                </div>

                {#<div class="form-group">#}
                    {#<label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">E-mail</label>#}

                    {#<div class="col-lg-10">#}
                        {#{{ formText('noEmail', '', {class: 'form-control', placeholder: 'exemplo@exemplo.com'}) }}#}
                    {#</div>#}
                {#</div>#}

                {% if entity.getIdPessoa().getIdPessoa() %}
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">CPF</label>

                        <div class="col-lg-10">
                            {{ formText('nuCpf', entity.getIdPessoa().getIdPessoaFisica().getNuCpf(), {
                                class: 'form-control required',
                                placeholder: '999.999.999-99',
                                'data-mask': '999.999.999-99',
                                readonly: 'readonly'
                            }) }}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">CPF</label>

                        <div class="col-lg-10">
                            {{ formText('nuCpf', entity.getIdPessoa().getIdPessoaFisica().getNuCpf(), {
                                class: 'form-control required',
                                placeholder: '999.999.999-99',
                                'data-mask': '999.999.999-99',
                                disabled: 'disabled'
                            }) }}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nome da mãe</label>

                    <div class="col-lg-10">
                        {{ formText('noMae', entity.getIdPessoa().getIdPessoaFisica().getNoMae(), {class: 'form-control required', placeholder: 'Nome completo'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Data de
                        nascimento</label>

                    <div class="col-lg-10">
                        <div class="input-group m-bot15">
                            {{ formText('dtNascimento', entity.getIdPessoa().getIdPessoaFisica().getDtNascimento().format('d/m/Y'), {
                                class: 'form-control date-picker required dateBR',
                                placeholder: '99/99/9999',
                                'data-mask': '99/99/9999',
                                'data-date-format': 'dd/mm/yyyy'
                            }) }}
                            <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">RG</label>

                    <div class="col-lg-10">
                        {{ formText('nuRg', entity.getIdPessoa().getIdPessoaFisica().getNuRg(), {class: 'form-control required'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Orgão expedidor</label>

                    <div class="col-lg-10">
                        {{ formText('dsOrgaoExpedido', entity.getIdPessoa().getIdPessoaFisica().getDsOrgaoExpedido(), {class: 'form-control required'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Data de
                        expedição</label>

                    <div class="col-lg-10">
                        <div class="input-group m-bot15">
                            {{ formText('dtExpedicao', entity.getIdPessoa().getIdPessoaFisica().getDtExpedicao().format('d/m/Y'),{
                                class: 'form-control date-picker required dateBR',
                                placeholder: '99/99/9999',
                                'data-mask': '99/99/9999'
                            }) }}
                            <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Sexo</label>

                    <div class="col-lg-10">
                        {{ formSelect('sgSexo', entity.getIdPessoa().getIdPessoaFisica().getSgSexo(), {class: 'form-control  m-bot15 required'}, cmbSexo) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nascionalidade</label>

                    <div class="col-lg-10">
                        {{ formText('noNascionalidade', entity.getIdPessoa().getIdPessoaFisica().getNoNascionalidade(), {class: 'form-control'}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Endereço
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
        </header>
        <div class="panel-body">
            <div class="position-center">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">CEP</label>

                    <div class="col-lg-10">
                        {{ formText('nuCep', entity.getIdPessoa().getIdEndereco().getNuCep(), {class: 'form-control', placeholder: '99999-999'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Estado</label>

                    <div class="col-lg-10">
                        {{ formSelect('idEstado', entity.getIdPessoa().getIdEndereco().getIdMunicipio().getIdEstado().getIdEstado(), {class: 'form-control m-bot15 required', id: 'estado'}, arrEstado) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Cidade</label>

                    <div class="col-lg-10">
                        {{ formSelect('idMunicipio', entity.getIdPessoa().getIdEndereco().getIdMunicipio().getIdMunicipio(), {class: 'form-control m-bot15 required', id: 'municipio'}, arrMunicipio) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Bairro</label>

                    <div class="col-lg-10">
                        {{ formText('noBairro', entity.getIdPessoa().getIdEndereco().getNoBairro(), {class: 'form-control required'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Endereço</label>

                    <div class="col-lg-10">
                        {{ formText('noLogradouro', entity.getIdPessoa().getIdEndereco().getNoLogradouro(), {class: 'form-control required', placeholder: 'Endereço de instalação'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Número</label>

                    <div class="col-lg-10">
                        {{ formText('nuEndereco', entity.getIdPessoa().getIdEndereco().getNuEndereco(), {class: 'form-control required'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Complemento</label>

                    <div class="col-lg-10">
                        {{ formText('dsComplemento', entity.getIdPessoa().getIdEndereco().getDsComplemento(), {class: 'form-control'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Ponto de
                        referência</label>

                    <div class="col-lg-10">
                        {{ formText('dsReferencia', entity.getIdPessoa().getIdEndereco().getDsReferencia(), {class: 'form-control', placeholder: 'Perto de...'}) }}
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('input[type=checkbox], input[type=radio]').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass:    'iradio_square-green',
            increaseArea:  '20%' // optional
        });

        $('#nuCpf').val('{{ app.request.get('cpf') }}')
    });
</script>