<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Contatos
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
        </header>
        <div class="panel-body">
            <div class="position-center">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nome</label>

                    <div class="col-lg-10">
                        {{ formText('contato[1][noContato]', '', {class: 'form-control', placeholder: 'Nome do contato'}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Telefone</label>

                    <div class="col-lg-10">
                        {{ formText('contato[1][nuTelefone]', '', {class: 'form-control', placeholder: '(99) 9999-9999'}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Oi Fixo
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
        </header>
        <div class="panel-body">
            <div class="position-center">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Portabilidade?</label>

                    <div class="col-lg-10">
                        {{ formCheckbox('stPortabilidade', entity.getStPortabilidade(), {class: 'form-control'}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Número portado</label>

                    <div class="col-lg-10">
                        {{ formText('nuNumeroPortado', entity.getNuNumeroPortado(), {class: 'form-control', placeholder: '(99) 9999-9999', 'data-mask': '(99) 9999-9999'}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Operadora
                        origem</label>

                    <div class="col-lg-10">
                        {{ formText('noOperadoraOrigem', entity.getNoOperadoraOrigem(), {class: 'form-control'}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Produto</label>

                    <div class="col-lg-10">
                        {{ formSelect('tpProduto', entity.getTpProduto(), {class: 'form-control m-bot15'}, arrProduto) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Planos
                                </div>
                                <div class="panel-body">
                                    {% for plano in arrPlano %}
                                        <div class="col-md-4 form-group">
                                            <label class="checkbox-inline">
                                                {{ formCheckbox('idPlano][]', plano.idPlano, {class: 'form-control'}) }}
                                            </label>

                                            {{ plano.noPlano }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Oi Banda Larga
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
        </header>
        <div class="panel-body">
            <div class="position-center">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Terminal fixo para
                        instalação</label>

                    <div class="col-lg-10">
                        {{ formSelect('tpTerminalFixoInstalacao', entity.getTpTerminalFixoInstalacao(), {class: 'form-control'}, arrTpTerminal) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Nº</label>

                    <div class="col-lg-10">
                        {{ formText('nuTerminalFixoExistente', entity.getNuTerminalFixoExistente(), {class: 'form-control'}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Velocidade</label>

                    <div class="col-lg-10">
                        {{ formSelect('idVelocidade', entity.getIdVelocidade().getIdVelocidade(), {class: 'form-control'}, arrVelocidade) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-lg-12">
    <section class="panel">
        <div class="panel-heading">
            Instalação / Habilitação
        </div>
        <div class="panel-body">
            <div class="position-center">

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                        data
                        de instalação</label>

                    <div class="col-lg-10">
                        <div class="input-group m-bot15">
                            {{ formText('dtInstalacao', '', {
                                class: 'form-control date-picker',
                                placeholder: '99/99/9999',
                                'data-mask': '99/99/9999',
                                'data-date-format': 'dd/mm/yyyy'
                            }) }}
                            <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                        horário para
                        instalação</label>

                    <div class="col-lg-10">
                        {{ formSelect('dtInstalacao', '', {class: 'form-control'}, arrPeriodo) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Taxa de
                        habilitação</label>

                    <div class="col-lg-10">
                        {{ formSelect('stTaxaHabilitacao', entity.getStTaxaHabilitacao(), {class: 'form-control'}, arrTaxaHabilitacao) }}
                    </div>
                </div>
                <div id="parcela" class="hide">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Quantidade de
                            parcelas</label>

                        <div class="col-lg-10">
                            {{ formText('nuQuantidadeParcela', entity.getNuQuantidadeParcela(), {class: 'form-control'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Valor
                            parcela</label>

                        <div class="col-lg-10">
                            {{ formText('nuValorParcela', entity.getNuValorParcela(), {class: 'form-control'}) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">DACC?</label>

                    <div class="col-lg-10">
                        {{ formCheckbox('tpDacc', entity.getTpDacc(), {class: 'form-control'}) }}
                    </div>
                </div>
                <div id="banco" class="hide">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Banco</label>

                        <div class="col-lg-10">
                            {{ formText('noBanco', entity.getNoBanco(), {class: 'form-control'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Agência</label>

                        <div class="col-lg-10">
                            {{ formText('nuAgencia', entity.getNuAgencia(), {class: 'form-control'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Conta</label>

                        <div class="col-lg-10">
                            {{ formText('nuConta', entity.getNuConta(), {class: 'form-control'}) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>