<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Oi TV
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
        </header>
        <div class="panel-body">
            <div class="position-center">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Número de pontos adicionais</label>

                    <div class="col-lg-10">
                        {{ formText('ordem[nuPontoAdicional',entity.getNuPontoAdicional(), {class: 'form-control'}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Fidelização</label>

                    <div class="col-lg-10">
                        {{ formSelect('ordem[tpFidelizacao',entity.getTpFidelizacao(), {class: 'form-control'}, arrFidelizacao) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Número de pontos adicionais</label>

                    <div class="col-lg-10">
                        {{ formSelect('ordem[tpFormaPagamento',entity.getTpFormaPagamento(), {class: 'form-control'}, arrFormaPagamento) }}
                    </div>
                </div>
                <div id="parcela" class="hide">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Quantidade de
                            parcelas</label>

                        <div class="col-lg-10">
                            {{ formText('ordem[nuQuantidadeParcela',entity.getNuQuantidadeParcela(), {class: 'form-control'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Valor
                            parcela</label>

                        <div class="col-lg-10">
                            {{ formText('ordem[nuValorParcela',entity.getNuValorParcela(), {class: 'form-control'}) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">DACC?</label>

                    <div class="col-lg-10">
                        {{ formCheckbox('ordem[tpDacc',entity.getTpDacc(), {class: 'form-control'}) }}
                    </div>
                </div>
                <div id="banco" class="hide">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Banco</label>

                        <div class="col-lg-10">
                            {{ formText('ordem[noBanco',entity.getNoBanco(), {class: 'form-control'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Agência</label>

                        <div class="col-lg-10">
                            {{ formText('nuAgencia',entity.getNuAgencia(), {class: 'form-control'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Conta</label>

                        <div class="col-lg-10">
                            {{ formText('nuConta',entity.getNuConta(), {class: 'form-control'}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Pacotes
                                </div>
                                <div class="panel-body">
                                    {% set check = '' %}
                                    {% for pacote in arrPacote %}
                                        <div class="col-md-4 form-group">
                                            <label class="checkbox-inline">
                                                {% for pacoteEntity in entity.getRlOrdemServicoPacote() %}
                                                    {% if pacoteEntity.getIdPacote().getIdPacote() == pacote.getIdPacote() %}
                                                        {% set check = 'checked' %}
                                                    {% endif %}
                                                {% endfor %}

                                                {{ formCheckbox('idPacote[]', pacote.getIdPacote(), {class: 'form-control', checked: check}) }}
                                            </label>

                                            {{ pacote.noPacote }}
                                        </div>
                                        {% set check = '' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="col-lg-12">
    <section class="panel">
        <div class="panel-heading">
            Instalação / Habilitação
        </div>
        <div class="panel-body">
            <div class="position-center">

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                        data
                        de instalação</label>

                    <div class="col-lg-10">
                        <div class="input-group m-bot15">
                            {{ formText('dtInstalacao','', {
                                class: 'form-control date-picker',
                                placeholder: '99/99/9999',
                                'data-mask': '99/99/9999',
                                'data-date-format': 'dd/mm/yyyy'
                            }) }}
                            <span class="input-group-addon btn-primary" id="buscar">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Melhor
                        horário para
                        instalação</label>

                    <div class="col-lg-10">
                        {{ formSelect('dtInstalacao','', {class: 'form-control'}, arrPeriodo) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>